.container {
	width: 85%;
	margin: 0 auto;
}

header {
  background: rgb(0,22,102);
  background: linear-gradient(90deg, rgba(0,22,102,1) 34%, rgba(65,102,242,1) 55%);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: right;
  padding: 1% 0;
  max-width: 5rem;
  height: auto;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 9px 15px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-transform: bold;
  font-size: 1.2rem;
  font-weight: 800;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
